@font-face {
  font-family: "Smith Allison";
  src: url("../assets/fonts/SmithAllison.otf") format("opentype"), url("../assets/fonts/SmithAllison.ttf") format("truetype");
}
/* VARIABLES */
/* MIXINS */
/* ALL */
* {
  padding: 0;
  margin: 0;
  border: 0;
}

*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html,
body {
  height: 100%;
  max-width: 1440px;
}

img {
  vertical-align: top;
}

/* BODY */
body {
  font-family: "Bricolage Grotesque", sans-serif;
  font-size: 26px;
  font-weight: 400;
}

/* CONTAINER */
[class*=__container] {
  max-width: 1440px;
  padding-left: 70px;
  padding-right: 70px;
  margin: 0 auto;
}

/* WRAPPER */
.wrapper {
  min-height: 100%;
  overflow: clip;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

/* MAIN */
.main {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}

/* HEADER */
.header {
  width: 100%;
  height: 82px;
  padding: 0 100px;
}
.header__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
}
.header__logo {
  position: relative;
  height: 82px;
}
.header__logo-style {
  font-family: "Smith Allison", sans-serif;
  font-size: 82px;
  color: #0CA296;
  position: absolute;
  top: -30%;
}

/* NAV */
.nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.nav__link {
  display: block;
  margin-left: 32px;
  font-size: 18px;
  font-weight: 500;
  text-decoration: none;
  text-transform: capitalize;
  color: #000000;
  position: relative;
}
.nav__link::before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 0;
  height: 2px;
  background-color: #000000;
  -webkit-transition: width 0.3s ease-in-out;
  transition: width 0.3s ease-in-out;
}
.nav__link:hover::before {
  width: 100%;
}

/* BURGER */
.nav__toggle {
  display: none;
  width: 21px;
  font-size: 0;
  color: transparent;
  border: 0;
  background: none;
  position: absolute;
  top: 40px;
  right: 0px;
  cursor: pointer;
  z-index: 1;
}
.nav__toggle .nav__toggle-item {
  display: block;
  width: 21px;
  height: 2px;
  background-color: #000000;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: auto;
  -webkit-transition: linear 0.5s;
  transition: linear 0.5s;
}
.nav__toggle .nav__toggle-item:before, .nav__toggle .nav__toggle-item:after {
  content: "";
  height: 2px;
  background-color: #000000;
  position: absolute;
  right: 0;
  z-index: 1;
}
.nav__toggle .nav__toggle-item:before {
  width: 21px;
  top: -7px;
}
.nav__toggle .nav__toggle-item:after {
  width: 21px;
  bottom: -7px;
}

.nav__toggle.active .nav__toggle-item {
  -webkit-transform: rotate(90deg);
          transform: rotate(90deg);
  -webkit-transition: linear 0.5s;
  transition: linear 0.5s;
}

/* INTRO */
.intro {
  max-width: 100%;
  min-height: 812px;
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.4)), to(rgba(0, 0, 0, 0.4))), url(../img/intro/intro_bg.png);
  background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url(../img/intro/intro_bg.png);
  background-repeat: no-repeat;
  background-size: cover;
  padding: 0 68px 0 90px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  overflow: hidden;
}
.intro__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.intro__heading {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 10px;
}
.intro__subtitle {
  font-family: "Smith Allison", sans-serif;
  font-weight: 400;
  font-size: 341.096px;
  line-height: 82.8%;
  color: #FFC700;
  margin-bottom: 25px;
}
.intro__title {
  font-size: 300px;
  font-weight: 900;
  line-height: 76%;
  color: #FFFFFF;
}
.intro__button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-item-align: end;
      align-self: flex-end;
  gap: 28px;
  padding-bottom: 12px;
}
.intro__scroll {
  width: 50px;
  height: 50px;
  border: 1px dashed #FFFFFF;
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 0.4);
  position: relative;
}
.intro__scroll::before {
  content: "";
  display: block;
  width: 31px;
  height: 60px;
  background-image: url(../img/intro/icon/left-arrow-key%201.png);
  background-repeat: no-repeat;
  background-size: cover;
  color: #FFFFFF;
  position: absolute;
  top: 15%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}
.intro__scroll-txt {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  font-size: 18px;
  font-weight: 500;
  letter-spacing: 3.51px;
  color: #FFFFFF;
}

/* DESTINATIONS */
.destinations {
  background: -webkit-gradient(linear, left top, left bottom, color-stop(43.53%, #00BEAC), to(rgba(0, 190, 172, 0)));
  background: linear-gradient(180deg, #00BEAC 43.53%, rgba(0, 190, 172, 0) 100%);
}
.destinations__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.destinations__heading {
  text-align: center;
}
.destinations__subtitle {
  font-family: "Smith Allison", sans-serif;
  font-size: 200px;
  font-weight: 400;
  line-height: 166px;
  letter-spacing: 0em;
  color: #FFD600;
}
.destinations__title {
  font-family: "Bricolage Grotesque", sans-serif;
  font-size: 80px;
  font-weight: 900;
  line-height: 101px;
  letter-spacing: 0em;
  color: #FFFFFF;
}
.destinations__line {
  width: 16px;
  height: 10px;
  border: 20px;
  border-radius: 30%;
  background-color: #41D6C7;
  margin: 0 auto 12px;
}
.destinations__paragraph {
  max-width: 972px;
  font-family: "Bricolage Grotesque", sans-serif;
  font-size: 26px;
  font-weight: 400;
  line-height: 33px;
  color: #FFFFFF;
}
.destinations__card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin: 65px 0 16px;
  gap: 10px;
}
.destinations__card-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  width: 100%;
  max-width: 300px;
  height: auto;
  border-radius: 10px;
  overflow: hidden;
  position: relative;
}
.destinations__card-item::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 0;
  width: 100%;
  height: 100%;
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0)), color-stop(rgb(0, 0, 0)), to(rgb(0, 0, 0)));
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0), rgb(0, 0, 0), rgb(0, 0, 0));
}
.destinations__pictures {
  display: block;
  width: 100%;
  height: auto;
}
.destinations__text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  position: absolute;
  left: 50%;
  bottom: 20%;
  -webkit-transform: translate(-50%, 0);
          transform: translate(-50%, 0);
}
.destinations__name {
  font-family: "Bricolage Grotesque", sans-serif;
  font-size: 40px;
  font-weight: 900;
  color: #FFFFFF;
}
.destinations__city {
  font-family: "Bricolage Grotesque", sans-serif;
  font-size: 14px;
  font-weight: 500;
  text-align: center;
  text-transform: uppercase;
  color: #FFFFFF;
}

/* MORE */
.more {
  background-color: #F5FFFE;
}
.more__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.more__heading {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
}
.more__subtitle {
  font-family: "Smith Allison", sans-serif;
  font-size: 200px;
  font-weight: 400;
  line-height: 166px;
  letter-spacing: 0em;
  color: #0CA296;
}
.more__title {
  font-family: "Bricolage Grotesque", sans-serif;
  font-size: 80px;
  font-weight: 900;
  line-height: 101px;
  letter-spacing: 0em;
  color: #000000;
}
.more__line {
  width: 16px;
  height: 10px;
  border: 20px;
  border-radius: 30%;
  background-color: #CBE7E4;
  margin: 0 auto 12px;
}
.more__paragraph {
  max-width: 972px;
  font-family: "Bricolage Grotesque", sans-serif;
  font-size: 26px;
  font-weight: 400;
  line-height: 33px;
  color: #565656;
}
.more__card {
  display: -ms-grid;
  display: grid;
  gap: 20px;
  grid-template-columns: repeat(auto-fit, minmax(342px, 1fr));
  grid-template-rows: repeat(auto-fit, minmax(345px, 1fr));
  margin: 65px 0 16px;
}
.more__item {
  position: relative;
  border-radius: 10px;
  position: relative;
}
.more__item::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0)), color-stop(rgba(0, 0, 0, 0.6)), to(rgba(0, 0, 0, 0.6)));
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6));
}
.more__item-1 {
  -ms-grid-column-span: 1;
  grid-column: span 1;
  -ms-grid-row-span: 2;
  grid-row: span 2;
}
.more__item-4 {
  -ms-grid-column-span: 2;
  grid-column: span 2;
}
.more__pictures {
  display: block;
  width: 100%;
  height: 100%;
  max-height: auto;
  -o-object-fit: cover;
     object-fit: cover;
}
.more__text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  min-width: 320px;
  position: absolute;
  left: 50%;
  bottom: 20%;
  -webkit-transform: translate(-50%, 0);
          transform: translate(-50%, 0);
}
.more__text-first {
  bottom: 45%;
}
.more__name {
  font-family: "Bricolage Grotesque", sans-serif;
  font-size: 40px;
  font-weight: 900;
  color: #FFFFFF;
  text-align: center;
}
.more__city {
  font-family: "Bricolage Grotesque", sans-serif;
  font-size: 14px;
  font-weight: 500;
  text-align: center;
  text-transform: uppercase;
  color: #FFFFFF;
}

/* FOOTER */
.footer__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.footer__background {
  width: 100%;
  min-height: 523px;
  background-image: url(../img/footer/bg.png);
  background-repeat: no-repeat;
  background-size: cover;
}
.footer__nav {
  background-color: #003531;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 36px;
  padding: 0 77px 45px;
  margin-top: -8px;
}
.footer__contacts {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-top: 24px;
}
.footer__marks {
  font-family: "Bricolage Grotesque", sans-serif;
  font-size: 16px;
  font-weight: 900;
  line-height: 25px;
  text-transform: uppercase;
  color: #D0D0D0;
  margin-bottom: 16px;
}
.footer__links {
  font-family: "Bricolage Grotesque", sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 27px;
  text-decoration: none;
  color: #FFFFFF;
}
.footer__social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  gap: 23px;
}
.footer__icon {
  display: block;
  min-width: 27px;
}

/* MEDIA 1280px */
@media screen and (max-width: 1280px) {
  /* HEADER */
  .header {
    padding: 0 60px;
  }
  /* INTRO */
  .intro {
    min-height: 100vh;
    padding: 0 60px 0 80px;
  }
  .intro__inner {
    gap: 15px;
  }
  .intro__subtitle {
    font-size: 260px;
  }
  .intro__title {
    font-size: 220px;
    font-weight: 700;
  }
  .intro__button {
    gap: 14px;
  }
  .intro__scroll {
    width: 35px;
    height: 35px;
  }
  .intro__scroll-txt {
    font-size: 14px;
    font-weight: 400;
  }
  /* DESTINATIONS */
  .destinations__container {
    max-width: 1020px;
    padding-left: 55px;
    padding-right: 55px;
  }
  .destinations__subtitle {
    font-size: 175px;
    line-height: 136px;
  }
  .destinations__title {
    font-size: 60px;
    font-weight: 700;
    line-height: 81px;
  }
  .destinations__paragraph {
    font-size: 22px;
    line-height: 22px;
  }
  /* MORE */
  .more__container {
    max-width: 1020px;
    padding-left: 55px;
    padding-right: 55px;
  }
  .more__subtitle {
    font-size: 175px;
    line-height: 136px;
  }
  .more__title {
    font-size: 60px;
    font-weight: 700;
    line-height: 81px;
  }
  .more__paragraph {
    font-size: 22px;
    line-height: 22px;
  }
}
/* MEDIA 866 */
@media screen and (max-width: 866px) {
  /* HEADER*/
  .header {
    height: 52px;
    padding: 0 40px;
  }
  .header__logo-style {
    top: -50%;
  }
  /* NAV */
  .nav {
    display: none;
  }
  .nav__link {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .nav.active {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  /* BURGER */
  .nav__toggle {
    display: block;
    top: 30px;
  }
  /* INTRO */
  .intro {
    padding: 0 30px;
  }
  .intro__inner {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: none;
        -ms-flex-pack: none;
            justify-content: none;
    gap: 36px;
  }
  .intro__heading {
    text-align: center;
  }
  .intro__subtitle {
    font-size: 180px;
  }
  .intro__title {
    font-size: 140px;
    font-weight: 600;
  }
  .intro__button {
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
  }
  /* DESTINATIONS */
  .destinations__container {
    max-width: 800px;
    padding-left: 33px;
    padding-right: 33px;
  }
  .destinations__heading {
    margin-top: -16px;
  }
  .destinations__subtitle {
    font-size: 135px;
    line-height: 96px;
  }
  .destinations__title {
    font-size: 40px;
    font-weight: 500;
    line-height: 61px;
  }
  .destinations__paragraph {
    font-size: 18px;
    line-height: 22px;
  }
  .destinations__card {
    margin-top: 35px;
  }
  .destinations__card-item {
    max-width: 280px;
    max-height: 443px;
  }
  /* MORE */
  .more__container {
    max-width: 800px;
    padding-left: 33px;
    padding-right: 33px;
  }
  .more__heading {
    margin-top: -16px;
  }
  .more__subtitle {
    font-size: 135px;
    line-height: 96px;
  }
  .more__title {
    font-size: 40px;
    font-weight: 500;
    line-height: 61px;
  }
  .more__paragraph {
    font-size: 18px;
    line-height: 22px;
  }
  .more__card {
    margin-top: 35px;
    -ms-grid-columns: 1fr;
    grid-template-columns: 1fr;
  }
  .more__item-1 {
    -ms-grid-column: 1;
    grid-column: 1;
    -ms-grid-row: 1;
    grid-row: 1;
  }
  .more__item-4 {
    -ms-grid-column: 1;
    grid-column: 1;
  }
  .more__pictures {
    height: 345px;
  }
  /* FOOTER */
  .footer__background {
    min-height: 323px;
  }
  .footer__nav {
    padding-left: 36px;
    padding-right: 36px;
  }
}
/* MEDIA 766 */
@media screen and (max-width: 766px) {
  /* HEADER */
  .header {
    padding: 0 20px;
  }
  /* INTRO */
  .intro {
    padding: 0 28px 0 35px;
  }
  .intro__subtitle {
    font-size: 130px;
  }
  .intro__title {
    font-size: 110px;
    font-weight: 600;
  }
  /* FOOTER */
  .footer__nav {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding-left: 16px;
    padding-right: 16px;
  }
  .footer__contacts {
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
    text-align: center;
  }
  .footer__social {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
}
/* MEDIA 420 */
@media screen and (max-width: 420px) {
  /* HEADER */
  /* INTRO */
  .intro {
    padding: 0 10px 0 10px;
  }
  /* DESTINATIONS */
  .destinations__container {
    max-width: 420px;
    padding-left: 8px;
    padding-right: 8px;
  }
  .destinations__inner {
    gap: 12px;
  }
  .destinations__card-item {
    max-width: 220px;
    max-height: 380px;
  }
  /* FOOTER */
  .footer__background {
    min-height: 153px;
  }
}