@font-face {
  font-family: 'Smith Allison';
  src: url('../assets/fonts/SmithAllison.otf') format('opentype'),
       url('../assets/fonts/SmithAllison.ttf') format('truetype');
}


/* VARIABLES */
$smithFonts: 'Smith Allison', sans-serif;
$bricolageFonts: 'Bricolage Grotesque', sans-serif;


$mainColor: #0CA296;
$titleColor: #FFC700;
$titleColorOpacity: #FFD600;
$footerColor: #003531;




/* MIXINS */
@mixin subTitleText {
    font-family: $smithFonts;
    font-size: 200px;
    font-weight: 400;
    line-height: 166px;
    letter-spacing: 0em;
}

@mixin titleText {
    font-family: $bricolageFonts;
    font-size: 80px;
    font-weight: 900;
    line-height: 101px;
    letter-spacing: 0em;
}

@mixin paragraphTitle {
    font-family: $bricolageFonts;
    font-size: 26px;
    font-weight: 400;
    line-height: 33px;
}

@mixin lineStrong {
    width: 16px;
    height: 10px;

    border: 20px;
    border-radius: 30%;
}
/////////////////////////////////////////////////////////
@mixin titleCardDestinations {
    font-family: $bricolageFonts;
    font-size: 40px;
    font-weight: 900;

    color: #FFFFFF;
}

@mixin subtitleCardDestinations {
    font-family: $bricolageFonts;
    font-size: 14px;
    font-weight: 500;

    text-align: center;
    text-transform: uppercase;

    color: #FFFFFF;
}

@mixin footerTitleMark {
    font-family: $bricolageFonts;
    font-size: 16px;
    font-weight: 900;
    line-height: 25px;

    text-transform: uppercase;

    color: #D0D0D0;

}

@mixin footerLinksMenu {
    font-family: $bricolageFonts;
    font-size: 16px;
    font-weight: 400;
    line-height: 27px;

    text-decoration: none;

    color: #FFFFFF;
}

/* ALL */
* {
    padding: 0;
    margin: 0;
    border: 0;
}

*,
*::before,
*::after {
    box-sizing: border-box;
}


html,
body {
    height: 100%;
    max-width: 1440px;
}

img {
    vertical-align: top;
}


/* BODY */
body {
    font-family: $bricolageFonts;
    font-size: 26px;
    font-weight: 400;
}


/* CONTAINER */
[class*="__container"]{
    max-width: 1440px;
    padding-left: 70px;
    padding-right: 70px;
    margin: 0 auto;
}


/* WRAPPER */
.wrapper {
    min-height: 100%;
    overflow: clip;
    display: flex;
    flex-direction: column;
}


/* MAIN */
.main {
    flex: 1 1 auto;
}


/* HEADER */
.header {
    width: 100%;
    height: 82px;

    padding: 0 100px;

    &__inner {
        display: flex;
        justify-content: space-between;
        align-items: center;

        position: relative;
    }

    &__logo {
        position: relative;
        height: 82px;
    }

    &__logo-style {
        font-family: $smithFonts;
        font-size: 82px;

        color: $mainColor;

        position: absolute;
        top: -30%;

        transform: translate(0, 30%);
    }
}


/* NAV */
.nav {
    display: flex;

    &__link {
        display: block;

        margin-left: 32px;

        font-size: 18px;
        font-weight: 500;

        text-decoration: none;
        text-transform: capitalize;

        color: #000000;

        position: relative;

        &::before {
            content: '';
            position: absolute;
            bottom: 0;
            left: 0;
            width: 0;
            height: 2px;
            background-color: #000000;
            transition: width 0.3s ease-in-out;
        }

        &:hover::before {
            width: 100%;
        }
    }
}


/* BURGER */
.nav__toggle {
    display: none;

    width: 21px;

    font-size: 0;
    color: transparent;

    border: 0;
    background: none;

    position: absolute;
    top: 40px;
    right: 0px;

    cursor: pointer;

    z-index: 1;

    .nav__toggle-item {
        display: block;
        width: 21px;
        height: 2px;

        background-color: #000000;

        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;

        margin: auto;

        transition: linear .5s;

        &:before,
        &:after {
            content: "";
            height: 2px;

            background-color: #000000;

            position: absolute;
            right: 0;

            z-index: 1;
        }

        &:before {
           width: 21px;
           top: -7px;
        }

        &:after {
            width: 21px;
            bottom: -7px;
        }
    }
}
.nav__toggle.active .nav__toggle-item {
    transform: rotate(90deg);
    transition: linear .5s;
}


/* INTRO */
.intro {
    max-width: 100%;
    min-height: 812px;

    background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url(../img/intro/intro_bg.png);
    background-repeat: no-repeat;
    background-size: cover;

    padding: 0 68px 0 90px;

    display: flex;
    flex-direction: column;
    justify-content: center;

    overflow: hidden;

    &__inner {
        display: flex;
        justify-content: space-between;
    }

    &__heading {
        display: flex;
        flex-direction: column;

        padding: 10px;
    }

    &__subtitle {
        font-family: $smithFonts;
        font-weight: 400;
        font-size: 341.096px;
        line-height: 82.8%;

        color: $titleColor;

        margin-bottom: 25px;
    }

    &__title {
        font-size: 300px;
        font-weight: 900;
        line-height: 76%;

        color: #FFFFFF;
    }

    &__button {
        display: flex;
        align-self: flex-end;

        gap: 28px;

        padding-bottom: 12px;
    }

    &__scroll {
        width: 50px;
        height: 50px;

        border: 1px dashed #FFFFFF;
        border-radius: 50%;

        background-color: rgba(255, 255, 255, 0.4);

        position: relative;

        &::before {
            content: "";

            display: block;

            width: 31px;
            height: 60px;

            background-image: url(../img/intro/icon/left-arrow-key%201.png);
            background-repeat: no-repeat;
            background-size: cover;

            color: #FFFFFF;

            position: absolute;
            top: 15%;
            left: 50%;

            transform: translate(-50%, -50%);
        }
    }

    &__scroll-txt {
        display: flex;
        align-self: center;

        font-size: 18px;
        font-weight: 500;
        letter-spacing: 3.51px;

        color: #FFFFFF;
    }
}


/* DESTINATIONS */
.destinations {
    background: linear-gradient(180deg, #00BEAC 43.53%, rgba(0, 190, 172, 0) 100%);

    &__inner {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    &__heading {
        text-align: center;
    }

    &__subtitle {
        @include subTitleText;

        color: $titleColorOpacity;
    }

    &__title {
        @include titleText;

        color: #FFFFFF;
    }

    &__line {
        @include lineStrong;

        background-color: #41D6C7;

        margin: 0 auto 12px;
    }

    &__paragraph {
        max-width: 972px;

        @include paragraphTitle;

        color: #FFFFFF;
    }

    &__card {
        display: flex;
        justify-content: center;
        flex-wrap: wrap;

        margin: 65px 0 16px;

        gap: 10px;
    }

    &__card-item {
        display: flex;
        flex: 1 1 auto;

        width: 100%;
        max-width: 300px;
        height: auto;

        border-radius: 10px;

        overflow: hidden;

        position: relative;

        &::before {
            content: "";
            position: absolute;
            top: 50%;
            left: 0;
            width: 100%;
            height: 100%;
            background: linear-gradient(to bottom, rgba(0, 0, 0, 0), rgba(0, 0, 0, 1), rgba(0, 0, 0, 1));
        }

    }

    &__pictures {
        display: block;

        width: 100%;
        height: auto;
    }

    &__text {
        display: flex;
        flex-direction: column;
        align-self: center;

        position: absolute;
        left: 50%;
        bottom: 20%;

        transform: translate(-50%, 0)
    }

    &__name {
        @include titleCardDestinations;
    }

    &__city {
        @include subtitleCardDestinations;
    }

}


/* MORE */
.more {
    background-color: #F5FFFE;

    &__inner {
        display: flex;
        flex-direction: column;

    }

    &__heading {
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
    }

    &__subtitle {
        @include subTitleText;

        color: $mainColor;
    }

    &__title {
        @include titleText;

        color: #000000;
    }

    &__line {
        @include lineStrong;

        background-color: #CBE7E4;

        margin: 0 auto 12px;
    }

    &__paragraph {
        max-width: 972px;

        @include paragraphTitle;

        color: #565656;
    }

    &__card {
        display: grid;
        gap: 20px;
        grid-template-columns: repeat(auto-fit, minmax(342px, 1fr));
        grid-template-rows: repeat(auto-fit, minmax(345px, 1fr));


        margin: 65px 0 16px;
    }

    &__item {
        position: relative;

        border-radius: 10px;

        position: relative;

        &::before {
            content: "";
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background: linear-gradient(to bottom, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6));
        }
    }

    &__item-1 {
        grid-column: span 1;
        grid-row: span 2;
    }

    &__item-4 {
        grid-column: span 2;
    }

    &__pictures {
        display: block;

        width: 100%;
        height: 100%;

        max-height: auto;

        object-fit: cover;
    }

    &__text {
        display: flex;
        flex-direction: column;

        min-width: 320px;

        position: absolute;
        left: 50%;
        bottom: 20%;

        transform: translate(-50%, 0)
    }

    &__text-first {
        bottom: 45%;
    }

    &__name {
        @include titleCardDestinations;

        text-align: center;
    }

    &__city {
        @include subtitleCardDestinations;
    }
}


/* FOOTER */
.footer {

    &__inner {
        display: flex;
        flex-direction: column;

    }

    &__background {
        width: 100%;
        min-height: 523px;

        background-image: url(../img/footer/bg.png);
        background-repeat: no-repeat;
        background-size: cover;
    }

    &__nav {
        background-color: $footerColor;

        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        gap: 36px;

        padding: 0 77px 45px;
        margin-top: -8px;

    }

    &__contacts {
        display: flex;
        flex-direction: column;

        margin-top: 24px;
    }

    &__marks {
        @include footerTitleMark;

        margin-bottom: 16px;
    }

    &__links {
        @include footerLinksMenu;
    }

    &__social {
        display: flex;
        flex-direction: column;
        align-self: center;
        gap: 23px;
    }

    &__icon {
        display: block;

        min-width: 27px;
    }


}















/* MEDIA 1280px */
@media screen and (max-width: 1280px) {


    /* HEADER */
    .header {
        padding: 0 60px;
    }

    /* INTRO */
    .intro {
        min-height: 100vh;

        padding: 0 60px 0 80px;

        &__inner {
            gap: 15px;
        }

        &__subtitle {
            font-size: 260px;
        }

        &__title {
            font-size: 220px;
            font-weight: 700;
        }

        &__button {
            gap: 14px;
        }

        &__scroll {
            width: 35px;
            height: 35px;
        }

        &__scroll-txt {
            font-size: 14px;
            font-weight: 400;
        }
    }

    /* DESTINATIONS */
    .destinations {

        &__container {
            max-width: 1020px;

            padding-left: 55px;
            padding-right: 55px;
        }

        &__subtitle {
            font-size: 175px;
            line-height: 136px;
        }

        &__title {
            font-size: 60px;
            font-weight: 700;
            line-height: 81px;
        }

        &__paragraph {
            font-size: 22px;
            line-height: 22px;
        }
    }

    /* MORE */
    .more {
         &__container {
            max-width: 1020px;

            padding-left: 55px;
            padding-right: 55px;
        }

        &__subtitle {
            font-size: 175px;
            line-height: 136px;
        }

        &__title {
            font-size: 60px;
            font-weight: 700;
            line-height: 81px;
        }

        &__paragraph {
            font-size: 22px;
            line-height: 22px;
        }
    }

}


/* MEDIA 866 */
@media screen and (max-width: 866px) {


    /* HEADER*/
    .header {
        height: 52px;
        padding: 0 40px;

        &__logo-style {
            top: -50%;
        }
    }

    /* NAV */
    .nav {
        display: none;

        &__link {
            display: flex;
            flex-direction: column;
        }
    }

    .nav.active {
        display: flex;
    }

    /* BURGER */
    .nav__toggle {
        display: block;

        top: 30px;
    }

    /* INTRO */
    .intro {
        padding: 0 30px;

        &__inner {
            flex-direction: column;
            justify-content: none;

            gap: 36px;
        }

        &__heading {
            text-align: center;
        }

        &__subtitle {
            font-size: 180px;
        }

        &__title {
            font-size: 140px;
            font-weight: 600;
        }

        &__button {
            align-self: center;
        }
    }

    /* DESTINATIONS */
    .destinations {

        &__container {
            max-width: 800px;

            padding-left: 33px;
            padding-right: 33px;
        }

        &__heading {
            margin-top: -16px;
        }

        &__subtitle {
            font-size: 135px;
            line-height: 96px;
        }

        &__title {
            font-size: 40px;
            font-weight: 500;
            line-height: 61px;
        }

        &__paragraph {
            font-size: 18px;
            line-height: 22px;
        }

        &__card {
            margin-top: 35px;
        }

        &__card-item {
            max-width: 280px;
            max-height: 443px;
        }
    }

    /* MORE */
    .more {
        &__container {
            max-width: 800px;

            padding-left: 33px;
            padding-right: 33px;
        }

        &__heading {
            margin-top: -16px;
        }

        &__subtitle {
            font-size: 135px;
            line-height: 96px;
        }

        &__title {
            font-size: 40px;
            font-weight: 500;
            line-height: 61px;
        }

        &__paragraph {
            font-size: 18px;
            line-height: 22px;
        }

        &__card {
            margin-top: 35px;

            grid-template-columns: 1fr;
        }

        &__item-1 {
            grid-column: 1;
            grid-row: 1;
        }

        &__item-4 {
            grid-column: 1;
        }

        &__pictures {
            height: 345px;
        }


    }

    /* FOOTER */
    .footer {

        &__background {
            min-height: 323px;
        }

        &__nav {
            padding-left: 36px;
            padding-right: 36px;
        }

    }

}


/* MEDIA 766 */
@media screen and (max-width: 766px) {


    /* HEADER */
    .header {
        padding: 0 20px;
    }

    /* INTRO */
    .intro {
        padding: 0 28px 0 35px;

        &__subtitle {
            font-size: 130px;
        }

        &__title {
            font-size: 110px;
            font-weight: 600;
        }
    }

    /* FOOTER */
    .footer {

        &__nav {
            flex-direction: column;

            padding-left: 16px;
            padding-right: 16px;
        }

        &__contacts {
            align-self: center;
            text-align: center;
        }

        &__social {
            flex-direction: row;
        }
    }

}


/* MEDIA 420 */
@media screen and (max-width: 420px) {


    /* HEADER */
    .header {

    }

    /* INTRO */
    .intro {
        padding: 0 10px 0 10px;
    }

    /* DESTINATIONS */
    .destinations {

        &__container {
            max-width: 420px;

            padding-left: 8px;
            padding-right: 8px;
        }

        &__inner {
            gap: 12px;
        }

        &__card-item {
            max-width: 220px;
            max-height: 380px;
        }
    }

     /* FOOTER */
    .footer {

        &__background {
            min-height: 153px;
        }
    }

}


















